/* Font family */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* primarily Desktop/Laptop screen */

*{
    justify-content: center;
}
body{
    margin: 0;
    padding: 0;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 1520px;
}

header{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.logo-img{
    height: 50px;
    width: 50px;
}

.logo-name{
    display: flex;
}

.comp-name{
    margin-top: 2px;
    margin-left: 15px;
    color: #131318;
    font-size: 36px;
    font-family: Mulish;
    font-weight: 800;
}

.comp-name-2{
    color: #FF5400;
    font-size: 36px;
    font-family: Mulish;
    font-weight: 800;
}

.nav-items{
    list-style-type: none;
    display: flex;
}

.nav-a{
    text-decoration: none;
    margin: 15px;
    color:#424247;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}

.nav-a:hover{
    color: #FF5400;
}

.page-1{
    height: 550px;
    background: linear-gradient(180deg, #131318, #13131800), url('./Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    border-radius: 20px;
}

.page-1-text-1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 200px;
}

.page-1-text-2{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}

.page-1-3{
    width: 768px;
    background-color: rgba(255, 255, 255, 0.30);
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.input-1{
    width: 174px;
    height: 48px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    font-family: Mulish;
    font-size: 16px;
}

.dropdown{
    width: 174px;
    height: 48px;
    border-radius: 8px;
    background: #FFF;
    font-family: Mulish;
    font-size: 16px;
    border: none;
}

.btn-1{
    width: 174px;
    height: 48px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    border: none;
}

/* Mobile Screen */

@media screen and (min-width:400px) and (max-width: 600px) {
    body{
        margin: 0;
        padding: 0;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        justify-content: center;
    }

    header{
        display:contents;
        align-items: center;
    }

    .logo-img{
        height: 20px;
        width: 20px;
        margin-top: 8px;
    }

    .comp-name{
        font-size: 21.54px;
    }
    
    .comp-name-2{
        font-size: 21.54px;
    }

}

/* Tablet Screen */

@media screen and (min-width:600px) and (max-width: 991px) {
    body{
        margin: 0;
        padding: 0;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        justify-content: center;
    }

    header{
        display:contents;
        align-items: center;
    }

    .logo-img{
        height: 30px;
        width: 30px;
        margin-top: 10px;
    }

    .comp-name{
        font-size: 24px;
    }
    
    .comp-name-2{
        font-size: 24px;
    }

}
